<div class="user">
  <h1><%= @user.name %></h1>
  <img class="med-img" src="<%= @user.avatar_img_url %>" alt="<%= @user.name %>">
  <p>Location: <%= @user.location %></p>
  <p>Age: <%= @user.age %></p>
</div>
<p><a href="/users">Back to Users</a></p>
