<div class="container wrapper">
<div class="jumbotron jumbotronwhite lessmarginontop">


<div class="articles-header">
	<h2>Historic of:</h2>
	<br><img class="article-gif-each-border img-rounded" style="max-width:300px;" src="<%= @article.gif %>"><br><br>
	<p>Last Name Given: <%= @article.name %></p>
</div>

<p class="text-left">Previous Versions:</p>
<div class="articles-body">
		<% @records.each do |record| %>
			<a href="/articles/<%= @article.id %>/records/<%= record.id %>"><p class="text-left no-decoration-link"><%= record.name %>, <%= record.time_created.strftime("edited on %m/%d (%I:%M%p)") %></p></a>
		<% end %>
</div>


</div>
</div>