<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @traveler.name %>
</p>

<p>
  <strong>Health:</strong>
  <%= @traveler.health %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @traveler.weight %>
</p>

<%= link_to 'Edit', edit_traveler_path(@traveler) %> |
<%= link_to 'Back', travelers_path %>
