<div class="container wrapper">
<div class="jumbotron jumbotronwhite lessmarginontop">

<div class="articles-header">
	<% if @article.gif != "empty" %>
	<img class="article-gif-each-border img-rounded" src="<%= @article.gif %>">
	<% end %>
	<h2><%= @article.name %></h2>
</div>


<!--Content of Article In Markdown-->
<div class="one-article-div pull-right">
	<%= markdown(@article.content) %>
	<br>
	<p>Last Updated by: <%= @article.user.name %>, <%= @article.time_created.strftime("On %m/%d/%Y At %I:%M%p") %></p><br>
</div>
<!--/Content of Article In Markdown-->

<!-- Edit/Delete/SeeRecords/Email Article -->
<% if session[:user_id] %> 
	<div class="btn-group btn-group-sm" role="group" aria-label="...">
		<form style="float: left;" action="/articles/<%=@article.id%>/record" method="GET"><button class="btn btn-default" type="submit">Previous Versions</button></form>
		<a style="float: left;" href="javascript:emailCurrentPage()"><button class="btn btn-default">E-mail</button></a>
		
	<% if @article.user == User.find(session[:user_id]) %>
			<form style="float: left;" action="/article/delete/<%=@article.id%>" method="POST"><button class="btn btn-default" type="submit">Delete Version</button></form>
	<% end %>
			<a style="float: left;" href="/articles/update/<%=@article.id%>"><button class="btn btn-default">Edit this Article</button></a>
	</div>

<% else %>
		<div class="btn-group btn-group-sm" role="group" aria-label="...">
			<form style="float: left;" action="/articles/<%=@article.id%>/record" method="GET"><button class="btn btn-default" type="submit">Previous Versions</button></form>
			<a style="float: left;" href="javascript:emailCurrentPage()"><button class="btn btn-default">E-mail</button></a>
		</div>
		<div class="message-for-login-if-edit">
			<p><a href="/login">Log in</a> or <a href="/register">Sign up</a> to contribute to this article.</p>
		</div>
<% end %>
<!--/Edit/Delete/SeeRecords/Email Article -->

</div>
</div>