<h1>New Student</h1>

<%= form_for(@student) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :house_id %><br>
    <%= f.number_field :house_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<a href="/students">Back to Students</a>