<p id="notice"><%= notice %></p>

<h1>Listing Barns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barns.each do |barn| %>
      <tr>
        <td><%= barn.name %></td>
        <td><%= link_to 'Show', barn %></td>
        <td><%= link_to 'Edit', edit_barn_path(barn) %></td>
        <td><%= link_to 'Destroy', barn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barn', new_barn_path %>
