<!DOCTYPE html>
<html>
<head>
  <title>Muvie Haus App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<p>Logged In</p>

<%= link_to "logout", :controller=> "sessions", :action=> "destroy" %>

<% end %>

<%= yield %>

</body>
</html>
