<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <img src="<%= avatar_url %>" alt="<%= name %>'s profile picture">
  <p> Name: <%= name %></p>
  <p> Github: <%= html_url %></p>
  <p> Email: <%= email %></p>
  <p> Location: <%= location %></p>
  <p> Hirable: <%= hireable %></p>

  
</body>
</html>